<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>snackr</title>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/thumbnail-gallery.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script>

        $("#btn1").click( function()
           {
             alert('button clicked');
           }
        );
    </script>
</head>

<body>

    {%include 'navigation.html' %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Current Panty</h1>
            </div>
            {% for food in inv %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <p>{{ food["amount"] }} {{ food["name"]}}</p>
                        <button type="button" id="btn1" class="btn btn-warning">Remove 1</button>
                        <button type="button" id="btnall" class="btn btn-danger">Remove All</button>
                        <img class="img-responsive" src="static/assets/img/rsz_{{ food["name"] }}.jpg" alt="">
                    </a>
                </div>
            {% endfor %}  
        <hr>

    {%include 'footer.html' %}
</body>

</html>