<!DOCTYPE HTML>
<html>
<head>
    {%include 'head.html' %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
    <h1>snackr</h1>

    {% for food in inv %}
      <p>{{ food["name"]}}</p>
      <p>{{ food["image"]}}</p>
      <p>{{ food["datePurch"]}}</p>
      <p>{{ food["dateExp"]}}</p>
      <p>{{ food["stock"]}}</p>
    {% endfor %}

</body>
</html>
